@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Noto+Sans+JP&display=swap');

* {
  font-family: Noto Sans JP;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Uts-logo {
  height: 150px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling for the Login and Regsiter Page */

@media screen and (min-width: 1250px) {
  .form-background {
    background-color: white;
    padding: 5%;

  }
}

@media screen and (max-width: 1250px) {
  .form-background {
    background-color: white;
    padding: 5%;

  }
}


.h1 {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="textarea"], input[type="number"], input[type="date"] {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  border-radius: 0px;
  border-bottom-color: rgba(0,0,0,0.3);
}

.register-text {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.admin-table {
  padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .admin-table {
    overflow-x: scroll;
  }
}

.containerAdmin {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.title-text {
  margin: 1rem 0;

}
.exam-rules {
  font-size: 1rem;
  margin: 0 25%;
}
@media (max-width: 1200px) {
  .exam-rules {
    margin: 0 20%;
  }
}
@media (max-width: 992px) {
  .exam-rules {
    margin: 0 10%;
  }
}
@media (max-width: 576px) {
  .exam-rules {
    margin: 0 5%;
  }
}
.exam-rules li {
  margin-bottom: 1rem;
}
.exam-rules-button {
  margin: 5%;
}
.create-exam-background {
  box-shadow: 0 19px 38px 19px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 5%;
  background-color: white;
}

.nav-tabs .nav-link {
    width: 50%;
}

.tab-content>.active {
    display: block;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.search-label {
  float: right;
}
.deskcheck-video-container video {
  height: 450px;
  width: 800px;
}

.deskcheck-detection-container {
  height: 450px;
  width: 800px;
  position: absolute;
  z-index: 100;
}
.detection-info {
  width: 800px;
}
.deskcheck-detection-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 8rem;
  min-height: 8rem;
  text-align: left;
  padding-left: 3rem;
  margin-bottom: 0;
}
.deskcheck-detection-list span {
  font-size: 1.5rem;
  color: var(--dark);
}
.deskcheck-button-container button {
  margin: .75rem 1rem;
  width: 200px
}